$breakpoint-tablet: 768px;

.car-preferences {
  @media (max-width: $breakpoint-tablet) {
    text-align: center;
  }

  label {
    pointer-events: none;

    &.preferences {
      max-width: max-content;

      i {
        &.check-mark {
          top: 13px !important;
          left: 8px !important;
        }
      }

      &.btn-secondary {
        margin-left: 10px;
      }
    }
  }

  .Car-Card {
    padding: 0.5em;
    display: inline-block;
    margin: 10px;

    .car-img {
      display: grid;
      width: 150px;
      height: 60px;
    }

    h6 {
      width: 100%;
      text-align: center;
    }

    &.not-selected {
      background: #FFFFFF 0% 0% no-repeat padding-box;
      border: 1px solid #DEE2E8;
    }

    &.selected {
      background: #FFFFFF 0% 0% no-repeat padding-box;
      border: 1px solid #000000;
    }
  }
}