// Font Variables
$toyota-regular: 'Toyota-Regular';
$toyota-bold: 'Toyota-Bold';

// Breakpoints
$breakpoint-mobile: 414px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;


p,
button,
a {
  font-family: $toyota-regular;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $toyota-bold;
}