$breakpoint-tablet: 768px;

.dashboard-wrap {
  padding: 0.75em;
  background-color: #F7F7F7;
  @media (min-width: $breakpoint-tablet) {
    padding: 1em;
  }
}

.dashboard-container {
  padding: 1em;
  background-color: #FFFFFF;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #E0E0E0;

  .profile-card {
    border: 1px #dee2e8 solid;
    padding: 0.5em;
    box-sizing: border-box;

    h6 {
      position: relative;
      top: -20px;
      left: 5px;
      padding: 0 1em;
      display: inline;
      background-color: #fff;
    }

    .text-Color {
      color: #000;
    }

    .row {
      .info-card {
        .text-danger {
          color: #000 !important;
          padding-right: 10px;
        }

        &:not(:last-child) {
          border-right: 1px #dee2e8 solid;
          display: grid;
          font-size: 15px;
          padding: 0.75em 1.2em;
          line-height: 15px;
          margin: 5px;

          @media (min-width: $breakpoint-tablet) {
            margin: 0px;
            line-height: 19px;
          }
        }

        &:last-child {
          display: flex;
          font-size: 15px;
          padding: 0.75em 1.2em;
        }

        span {
          @media (max-width: 700px) {
            margin-top: 5px;
            margin-right: 5px;
          }
        }

        @media (max-width: 700px) {
          width: 40%;
          font-size: 11px !important;

          &:nth-child(even) {
            width: 50%;
            border-right: none;
          }
        }

        i {
          &.edit-icon {
            background: url("../assets/Icon feather-edit.svg");
            height: 25px;
            width: 25px;
            position: relative;
            right: 0px;
            top: -35px;
            background-size: 100% 100%;
            cursor: pointer;
          }
        }
      }
    }
  }

  .recall-message {
    .accordion {
      .accordion-body {
        p {
          position: relative;
          padding-left: 80px;
          margin-bottom: 0;

          &::before {
            content: "";
            background-image: url("../assets/Icon ionic-ios-information-circle.svg");
            width: 25px;
            height: 25px;
            position: absolute;
            top: -2px;
            left: 45px;
            background-size: 100% 100%;
          }
        }

      }


    }
  }

  .navbar {
    border: 1px #dee2e8 solid;
    margin-top: 2em;
    background-color: #f1f1f1;
    font-size: 16px;
    font-weight: bold;
    padding: 0;

    .navbar-nav {
      flex-direction: row;
      display: contents;

      .nav-link {
        display: inline-flex;
        width: 50%;
        margin: 0;
        padding: 1em;

        &.active {
          background-color: #e5e5e5;
          border-bottom: 2px solid #000;
        }
      }
    }
  }

  .accordion {
    margin-top: 2em;
    appearance: none;

    .accordion-button {
      background-color: #f1f1f1 !important;

      &:not(.collapsed) {
        color: #000;

        &::before {
          content: "";
          background-image: url("../assets/Group 253.svg") !important;
          color: #000;
          position: absolute;
          width: 30px;
          height: 30px;
          background-size: 100% 100%;
          transform: rotate(180deg);
        }
      }

      &::after {
        content: none;
      }

      &::before {
        content: "";
        background-image: url("../assets/Group 253.svg") !important;
        color: #000;
        position: absolute;
        width: 30px;
        height: 30px;
        background-size: 100% 100%;
      }

      h5,
      p {
        padding-left: 40px;
        margin-bottom: 0;
      }
    }

    .accordion-body {
      padding: 1rem 0;

      @media (min-width: $breakpoint-tablet) {
        padding: 1rem 1.25rem;
      }

      .market-heading {
        padding-left: 40px;
      }

      .market-communication {
        >h6 {
          padding-left: 15px;
        }

        .select-wrap {
          text-align: left;

          .btn-selectAll,
          .btn-deselectAll {
            border: none;
            background: none;
            color: #0C31E9;
            font-size: 14px;
            line-height: 19px;
          }
        }

        .btn-group {
          margin: 5px auto;

          @media (max-width: 767px) {
            &.options {
              display: block;
            }
          }
        }
      }
    }

    .btn-group {
      margin: 15px auto;

      i {
        &::after {
          content: "";
          height: 20px;
          width: 20px;
          position: absolute;
          left: 7px;
          top: 7px;
          background-size: 100% 100% !important;
        }

        &.at-the-rate {
          &::after {
            background: url("../assets/Group 268.svg");
          }
        }

        &.phone-icon {
          &::after {
            background: url("../assets/Icon feather-phone-call.png");
          }
        }

        &.phone-icon-checked {
          &::after {
            background: url("../assets/Icon feather-phone-call.png");
          }
        }

        &.at-the-rate-checked {
          &::after {
            background: url("../assets/Icon simple-email.png");
          }
        }

        &.email-icon {
          &::after {
            background: url("../assets/Group 264.svg");
          }
        }

        &.email-icon-checked {
          &::after {
            background: url("../assets/Group 265.svg");
          }
        }

        &.msg-icon {
          &::after {
            background: url("../assets/Icon material-textsms.png");
          }
        }

        &.msg-icon-checked {
          &::after {
            background: url("../assets/Icon material-textsms.png");
          }
        }
      }
    }

    input {

      &.btn-check:active+.btn-dark,
      &.btn-check:checked+.btn-dark,
      &.btn-dark.active,
      &.btn-dark:active,
      &.show>.btn-dark.dropdown-toggle {
        outline: none;
        color: #fff;
        border-radius: 50%;
        height: 35px;
        width: 35px;
        box-shadow: none;
      }

      &.btn-check+.btn.btn-light:not(.preferences) {
        border-radius: 50%;
        background-color: #dfdbdb;
        width: 35px;
        height: 35px;
        box-shadow: none;
      }

      &.btn-check+.btn.btn-light.preferences {
        background-color: #dfdbdb;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 10px;
        margin-left: 0;

        @media (min-width: $breakpoint-tablet) {
          width: max-content;
        }

        &:first-child {
          margin-left: 0;
        }
      }
    }

    .mail {
      display: flex;
      justify-content: center;
      align-items: center;

      i {
        &.edit-icon {
          padding-left: 15px;
          cursor: pointer;

          &::after {
            content: url("../assets/Icon feather-edit.svg");
            height: 20px;
            width: 20px;
            position: relative;
          }
        }
      }

      .edit-mail {
        &.form-control {
          display: inline;
        }
      }
    }

    .options {
      label {
        &.fontsmall {
          font-size: 0.7rem;
          font-weight: bold;
          margin: 0 10px;
          box-shadow: none;
          margin: 0 10px;
          margin-left: 0;
          border-radius: 0 !important;

          @media (min-width: $breakpoint-tablet) {
            width: max-content;
          }

          &:first-child {
            margin-left: 0;
          }

          &:focus {
            box-shadow: none;
          }
        }
      }

      .check-mark {
        background: url("../assets/Group 305.svg");
        display: inline-block;
        width: 10px;
        height: 10px;
        background-size: 100% 100%;
        margin-right: 5px;
      }
    }

    .switch {
      position: relative;
      width: 45px;
      height: 23px;
      float: right;

      /* Hide default HTML checkbox */
      input {
        opacity: 0;
        width: 0;
        height: 0;

        &:checked {
          +.slider {
            background-color: #000;

            &::before {
              content: url('../assets/Group 305.svg');
              border-radius: 50%;
              height: 18px;
              width: 18px;
              left: -1px;
              top: 2px;
              -webkit-transform: translateX(26px);
              -ms-transform: translateX(26px);
              transform: translateX(26px);

            }
          }
        }

        +.slider {
          &::before {
            color: #fff;
          }
        }

        &:focus {
          +&.slider {
            box-shadow: 0 0 1px #000;
          }
        }
      }

      /* The slider */
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        border-radius: 36px;

        &::before {
          position: absolute;
          content: "";
          height: 20px;
          width: 20px;
          bottom: 2px;
          left: 2px;
          background-color: #fff;
          -webkit-transition: 0.4s;
          transition: 0.4s;
          border-radius: 50%;
        }
      }
    }

    h6 {
      button {
        &.plusmenu-danger {
          cursor: pointer;
          border: none;
          border-radius: 50%;
          padding-left: 20px;

          i {
            position: relative;

            &.minus-checked {
              &::after {
                content: "";
                background: url("../assets/Group 162.svg");
                width: 20px;
                height: 22px;
                position: absolute;
                top: -18px;
                left: -15px;
                background-repeat: no-repeat;
              }
            }

            &.plus-checked {
              &::after {
                content: "";
                background: url("../assets/Group 410.svg");
                width: 30px;
                height: 30px;
                position: absolute;
                top: -18px;
                left: -15px;
                background-repeat: no-repeat;
              }
            }
          }
        }
      }
    }
  }

  .buttons-wrap {
    text-align: right;
    margin: 20px 0;

    .button-options {
      margin: 15px 0 35px;

      .btn {
        width: 110px;
        height: 55px;
        font-size: 16px;
        line-height: 16px;

        &:focus {
          box-shadow: none;
        }

        &.btn-primary {
          background: #fff;
          color: #000;
          border: 1px solid #707070;
          border-radius: 1px;
          margin-right: 20px;
        }

        &.btn-secondary {
          color: #fff;
          background: #000000 0% 0% no-repeat padding-box;
          border-radius: 1px;
        }
      }
    }

    .manage-subscriptions {
      margin: 35px 0 30px;

      .btn {
        height: 40px;
        background: #E5E5E5 0% 0% no-repeat padding-box;
        border: 1px solid #707070;
        color: #000000;
        min-width: 110px;

        &:focus {
          box-shadow: none;
        }

        @media (min-width: $breakpoint-tablet) {
          min-width: 250px;
          height: 55px;
        }

        &.btn-primary {
          margin-right: 15px;
        }
      }
    }

    .stop-notifications {

      p,
      .dropdown,
      .switch {
        display: inline-block;
        color: #0C0C0C;
      }

      .dropdown {
        margin: 0 20px;
        width: 150px;

        button {
          background: #fff;
          color: #000;

          &:focus {
            box-shadow: none;
          }
        }
      }

      .switch {
        width: 40px;
        height: 20px;
        position: relative;
        top: 3px;

        /* Hide default HTML checkbox */
        input {
          opacity: 0;
          width: 0;
          height: 0;

          &:checked {
            +.slider {
              background-color: #ccc;

              &::before {
                left: -2px;
                top: 2px;
                -webkit-transform: translateX(26px);
                -ms-transform: translateX(26px);
                transform: translateX(26px);

              }
            }
          }

          +.slider {
            &::before {
              color: #fff;
            }
          }

          &:focus {
            +&.slider {
              box-shadow: 0 0 1px #000;
            }
          }
        }

        /* The slider */
        .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #ccc;
          -webkit-transition: 0.4s;
          transition: 0.4s;
          border-radius: 36px;

          &::before {
            position: absolute;
            content: "";
            height: 16px;
            width: 16px;
            bottom: 2px;
            left: 2px;
            background-color: #58595B;
            -webkit-transition: 0.4s;
            transition: 0.4s;
            border-radius: 50%;
          }
        }
      }
    }
  }
}