.container {
  padding: 0.3em 13em;
  height: 100%;
}

.dashboard-container {
  padding: 3rem;
}

.profile-card {
  border: 1px #DEE2E8 solid;
  padding: .5em;
  box-sizing: border-box;
}

.profile-card h6 {
  position: relative;
  top: -20px;
  left: 5px;
  padding: 0 1em;
  display: inline;
  background-color: #fff;
}

.profile-card .row .info-card:not(:last-child) {
  border-right: 1px #DEE2E8 solid;
  display: grid;
  font-size: 15px;
  padding: 0.75em 1.2em;
  line-height: 15px;
  margin: 5px;
}

@media (min-width: 700px) {
  .profile-card .row .info-card:not(:last-child) {
    margin: 0px;
    line-height: 25px;
  }
}

.profile-card .row .info-card:last-child {
  display: flex;
  font-size: 15px;
  padding: 0.75em 1.2em;
}

.profile-card .row .info-card span {
  margin-top: 5px;
  margin-right: 5px;
}

.navbar-nav {
  flex-direction: row;
  display: contents;
}

.navbar {
  border: 1px #DEE2E8 solid;
  margin-top: 2em;
  background-color: #F1F1F1;
  font-size: 16px;
  font-weight: bold;
  padding: 0;
}

.nav-link {
  display: inline-flex;
  width: 50%;
  margin: 0;
  padding: 1em;
}

.nav-link.active {
  background-color: #E5E5E5;
  border-bottom: 2px solid #000;
}

.accordion {
  margin-top: 2em;
}

.accordion .accordion-button {
  background-color: #F1F1F1 !important;
}

.btn-group i::after {
  content: "";
  height: 20px;
  width: 20px;
  position: absolute;
  left: 7px;
  top: 7px;
  background-size: 100% 100% !important;
}

.at-the-rate::after {
  background: url('../assets/Group 268.svg');
}

.phone-icon::after {
  background: url('../assets/Icon feather-phone-call.png');
}

.phone-icon-checked::after {
  background: url('../assets/Icon feather-phone-call.png');
}

.at-the-rate-checked::after {
  background: url('../assets/Icon simple-email.png');
}

.email-icon::after {
  background: url('../assets/Group 264.svg');
}

.email-icon-checked::after {
  background: url('../assets/Group 265.svg');
}

.msg-icon::after {
  background: url('../assets/Icon material-textsms.png');
}

.msg-icon-checked::after {
  background: url('../assets/Icon material-textsms.png');
}

.btn-check:active+.btn-dark, .btn-check:checked+.btn-dark, .btn-dark.active, .btn-dark:active, .show>.btn-dark.dropdown-toggle {
  outline: none;
  color: #fff;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  box-shadow: none;
}

.btn-check+.btn.btn-light:not(.preferences) {
  border-radius: 50%;
  background-color: #dfdbdb;
  width: 35px;
  height: 35px;
  box-shadow: none;
}

.btn-check+.btn.btn-light.preferences {
  background-color: #dfdbdb;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
}
.options label {
  padding-left: 20px;
}
.options .check-mark {
  position: absolute;
  top: 8px;
  left: 8px;
  content: url('../assets/Group 305.svg');
  height: 11px;
  width: 11px;
}

.edit-icon::after {
  content: url('../assets/Icon feather-edit.svg');
  height: 20px;
  width: 20px;
  position: relative;
}

.edit-mail.form-control {
  display: inline;
}

.fontsmall {
  font-size: 0.7rem;
  font-weight: bold;
  width: 100px;
}

.accordion-button:not(.collapsed) {
  color: #000;
}

.switch {
  position: relative;
  width: 45px;
  height: 23px;
  float: right;
}

/* Hide default HTML checkbox */

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  bottom: 2px;
  left: 2px;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked+.slider {
  background-color: #000;
}

input:focus+.slider {
  box-shadow: 0 0 1px #000;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */

.slider {
  border-radius: 36px;
}

input:checked+.slider::before {
  content: url('../assets/Group 305.svg');
  border-radius: 50%;
  height: 18px;
  width: 18px;
  left: -1px;
  top: 2px;
}

input+.slider::before {
  color: #fff;
}

.plusmenu-danger {
  cursor: pointer;
  border: none;
  border-radius: 50%;
  padding-left: 20px;
}

.plusmenu-danger i {
  position: relative;
}

.plusmenu-danger .minus-checked::after {
  content: "";
  background: url('../assets/Group 162.svg');
  width: 20px;
  height: 22px;
  position: absolute;
  top: -18px;
  left: -15px;
  background-repeat: no-repeat;
}

.plusmenu-danger .plus-checked::after {
  content: "";
  background: url('../assets/Group 410.svg');
  width: 30px;
  height: 30px;
  position: absolute;
  top: -18px;
  left: -15px;
  background-repeat: no-repeat;
}

.accordion .row .mail {
  display: flex;
  justify-content: center;
  align-items: center;
}

.accordion .row .mail .edit-icon {
  padding-left: 15px;
}

.accordion-button::after {
  content: none;
}

.accordion-button::before {
  content: "";
  background-image: url('../assets/Group 253.svg') !important;
  color: #000;
  position: absolute;
  width: 30px;
  height: 30px;
  background-size: 100% 100%;
}

.accordion-button h5 {
  padding-left: 40px;
  padding-top: 8px;
}

.accordion-button:not(.collapsed)::before {
  content: "";
  background-image: url('../assets/Group 253.svg') !important;
  color: #000;
  position: absolute;
  width: 30px;
  height: 30px;
  background-size: 100% 100%;
  transform: rotate(180deg);
}

.accordion {
  appearance: none;
}

.text-Color {
  color: #000;
}

.bg-Color {
  background-color: #000;
  border-color: #000;
}

@media (max-width:700px) {
  .profile-card .row .info-card {
    width: 40%;
    font-size: 11px !important;
  }
  .profile-card .row .info-card:nth-child(even) {
    width: 50%;
    border-right: none;
  }
  .dashboard-container {
    padding: 1em;
  }
}