@font-face {
  font-family: Toyota-Bold;
  src: url('./../fonts/ToyotaTypeBold.otf') format('otf'),
    url('./../fonts/ToyotaTypeBold.ttf') format('ttf');
}

@font-face {
  font-family: Toyota-Regular;
  src: url('./../fonts/ToyotaType') format('otf');
}