@import "./Common-Style.scss";

.home {
  .home-body {
    display: grid;
    place-content: center;
    justify-content: flex-end;
    background-image: url('../assets/Image 39.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3em;

    .Card {
      padding: 1em;
      text-align: center;
      box-sizing: border-box;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000029;
      opacity: 0.9;
      border-radius: 1px;
      max-width: 360px;
      padding: 2em;

      @media (min-width: $breakpoint-tablet) {
        max-width: 360px;
        padding: 2em;
      }

      .user-logo {
        padding: 1em;

        &::after {
          content: url('../assets/Group 419.svg');
        }
      }

      .Signin-btn,
      .Guest-btn {
        height: 50px;
        width: 100%;
        display: grid;
        place-items: center;
        margin: 1em 0;
        font-family: $toyota-bold;
        font-size: 16px;
        line-height: 16px;
        font-weight: bold;
        cursor: pointer;
        border-radius: 1px;
        text-decoration: none;
      }

      .Guest-btn {
        border: 1px solid #707070;
        color: #000;

      }

      .Signin-btn {
        background: #000 0% 0% no-repeat padding-box;
        border: none;
        color: #fff;

      }

      .or-seperation {
        font-size: 28px;
        line-height: 37px;
        color: #707070;
        display: flex;
        flex-basis: 100%;
        align-items: center;
        margin: 8px 0;
        font-family: $toyota-regular;

        &:before,
        &:after {
          content: "";
          flex-grow: 1;
          background: #707070;
          height: 1px;
          font-size: 0;
          line-height: 0;
          margin: 0 10px;
        }
      }
    }
  }
}