$breakpoint-tablet: 768px;

.profile-exists { 
  background-color: rgba(0,0,0,0.8);
  
  .modal-dialog {
    max-width: 700px;
    .modal-header,
    .modal-footer {
      border: none; 
    }
    .modal-content{
      padding:2em;
      @media (min-width: $breakpoint-tablet) {
        padding:0.375em;
      }
    }
    .modal-body {
      text-align: center;
      padding: 0 1rem; 
      p {
        margin-bottom: 0;

        &.box {
          border: 1px solid #707070;
          font-size: 22px;
          line-height: 25px;
          padding: 0.73rem;

          &.txt-box {
            color: #000;
            background: #f7f7f7 0% 0% no-repeat padding-box;
          }

          &.dark-box {
            color: #fff;
            background: #58595b 0% 0% no-repeat padding-box;
            border: 1px solid #707070;
            position: relative;

            &::before {
              content: "";
              background: url("../assets/Group 305.svg");
              height: 20px;
              width: 20px;
              left: 7%;
              top: 14px;
              position: absolute;
              background-size: 100% 100%;

              @media (min-width: $breakpoint-tablet) {
                left: 16%;
              }
            }
          }
        }

        &.or {
          font-size: 28px;
          line-height: 37px;
          color: #707070;
          display: flex;
          flex-basis: 100%;
          align-items: center;
          margin: 8px 0;

          &:before,
          &:after {
            content: "";
            flex-grow: 1;
            background: #707070;
            height: 1px;
            font-size: 0;
            line-height: 0;
            margin: 0 10px;
          }
        }
      }

      .multi-options {
        margin: 30px auto 10px;
        max-width: 300px;

        .btn-group {
          display: flex;
          flex-direction: column;
        }

        .row {
          label {
            i {
              font-size: 14px;
              line-height: 19px;
            }

            &.btn-light {
              background: #f7f7f7 0% 0% no-repeat padding-box;
              border: 1px solid #707070;
              box-shadow: none;
              border-radius: 0;
            }

            &.btn-dark {
              background: #58595b 0% 0% no-repeat padding-box;
              border: 1px solid #707070;
              box-shadow: none;
              border-radius: 0;
              position: relative;

              &::before {
                content: "";
                background: url("../assets/Group 305.svg");
                height: 10px;
                width: 10px;
                left: 33%;
                top: 14px;
                position: absolute;
                background-size: 100% 100%;
              }
            }
          }
        }
      }
    }

    .modal-footer {
      justify-content: center;

      button {
        font-size: 18px;
        line-height: 24px;
        max-width: 170px;
        width: 170px;

        &.btn-primary {
          background: #000;
          color: #fff;
        }

        &.btn-secondary {
          background: #f7f7f7 0% 0% no-repeat padding-box;
          color: #000;
        }
      }
    }
  }
}